# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Docker build and push

run-name: Docker build and push to ${{ inputs.environment }} (tag ${{ inputs.tag }})

env:
  docker_image_name: academy
  docker_tag_name: tag-1

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        type: choice
        required: true
        options:
          - Test
          - Int
          - E2E
          - Prod
      tag:
        description: "Image tag (final tag will be tag-environment)"
        required: false
        default: latest

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Maven build (custom action)
      uses: ./.github/actions/maven_build

    - name: Docker build (custom action)
      uses: ./.github/actions/docker_build
      with:
        image_name: $docker_image_name
        tag_name: "${{ inputs.tag }}-${{ inputs.environment }}"
    
    - name: Save image to artifact
      run: |
        docker save academy:${{ inputs.tag }}-${{ inputs.environment }} -o image.tar

    - name: Upload image artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: image.tar
    
  push:
    runs-on: ubuntu-latest
    needs: build
    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v4

      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load image
        run: docker load -i image.tar

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image (custom action)
        uses: ./.github/actions/docker_push
        with:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          image_ref: "academy:${{ inputs.tag }}-${{ inputs.environment }}"
